@tailwind base;
@tailwind components;
@tailwind utilities;

 @layer base {
    :root{
        --title-bar-hight: 40px;
        --background: hsla(0, 0%, 9%);
        --foreground: hsl(0, 0%, 16%);
        --text: hsla(0, 0%, 80%, 1);
        --outline: hsl(0, 0%, 25%);
        --hover: hsla(0, 0%, 50%, 0.15);
        --hover-x2: hsla(0, 0%, 50%, 0.05);
        --primary: hsl(203, 91%, 40%);
        --positive: hsl(150, 95%, 35%);
        --negative: hsl(350, 95%, 35%);
    }
 }