@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@plugin "@iconify/tailwind4";
@plugin "tailwindcss-animate";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
.test {
  color: #121212;
}

:root {
  --background: #ffffff; /* oklch(1 0 0) */
  --foreground: #17141d; /* oklch(0.13 0.028 261.692) */
  --card: #f5f5f5; /* oklch(1 0 0) */
  --card-foreground: #17141d; /* oklch(0.13 0.028 261.692) */
  --popover: #ffffff; /* oklch(1 0 0) */
  --popover-foreground: #17141d; /* oklch(0.13 0.028 261.692) */
  --primary: #2c2742; /* oklch(0.21 0.034 264.665) */
  --primary-foreground: #fbfbfb; /* oklch(0.985 0.002 247.839) */
  --secondary: #dddddd; /* oklch(0.967 0.003 264.542) */
  --secondary-foreground: #2c2742; /* oklch(0.21 0.034 264.665) */
  --muted: #eeeeee; /* oklch(0.967 0.003 264.542) */
  --muted-foreground: #606060; /* oklch(0.551 0.027 264.364) */
  --accent: #eeeeee; /* oklch(0.967 0.003 264.542) */
  --accent-foreground: #2c2742; /* oklch(0.21 0.034 264.665) */
  --destructive: #ffe2e2; /* oklch(0.577 0.245 27.325) */
  --destructive-foreground: #9f0733; /* oklch(0.577 0.245 27.325) */
  --warning: #fef9c3; /* oklch(0.577 0.245 27.325) */
  --warning-foreground: #954d0e; /* oklch(0.577 0.245 27.325) */
  --success: #dcfce7; /* oklch(0.577 0.245 27.325) */
  --success-foreground: #166534; /* oklch(0.577 0.245 27.325) */
  --border: #cccccc; /* oklch(0.928 0.006 264.531) */
  --input: #dddddd; /* oklch(0.928 0.006 264.531) */
  --ring: #aba8c1; /* oklch(0.707 0.022 261.325) */
  --chart-1: #ff6b1a; /* oklch(0.646 0.222 41.116) */
  --chart-2: #1bb3a2; /* oklch(0.6 0.118 184.704) */
  --chart-3: #465caa; /* oklch(0.398 0.07 227.392) */
  --chart-4: #ffa02c; /* oklch(0.828 0.189 84.429) */
  --chart-5: #ffb443; /* oklch(0.769 0.188 70.08) */
  --radius: 0.625rem; /* No color conversion needed */
  --sidebar: #eeeeee; /* oklch(0.985 0.002 247.839) */
  --sidebar-foreground: #17141d; /* oklch(0.13 0.028 261.692) */
  --sidebar-primary: #2c2742; /* oklch(0.21 0.034 264.665) */
  --sidebar-primary-foreground: #fbfbfb; /* oklch(0.985 0.002 247.839) */
  --sidebar-accent: #dddddd; /* oklch(0.967 0.003 264.542) */
  --sidebar-accent-foreground: #17141d; /* oklch(0.21 0.034 264.665) */
  --sidebar-border: #e9e8f0; /* oklch(0.928 0.006 264.531) */
  --sidebar-ring: #aba8c1; /* oklch(0.707 0.022 261.325) */
}

.dark {
  --background: #1c1c1c; /* oklch(0.13 0.028 261.692) */
  --foreground: #fbfbfb; /* oklch(0.985 0.002 247.839) */
  --card: #2b2b2b; /* oklch(0.13 0.028 261.692) */
  --card-foreground: #fbfbfb; /* oklch(0.985 0.002 247.839) */
  --popover: #111111; /* oklch(0.13 0.028 261.692) */
  --popover-foreground: #fbfbfb; /* oklch(0.985 0.002 247.839) */
  --primary: #007acc; /* oklch(0.985 0.002 247.839) */
  --primary-foreground: #fbfbfb; /* oklch(0.21 0.034 264.665) */
  --secondary: #2b2b2b; /* oklch(0.278 0.033 256.848) */
  --secondary-foreground: #fbfbfb; /* oklch(0.985 0.002 247.839) */
  --muted: #2b2b2b; /* oklch(0.278 0.033 256.848) */
  --muted-foreground: #888888; /* oklch(0.707 0.022 261.325) */
  --accent: #2b2b2b; /* oklch(0.278 0.033 256.848) */
  --accent-foreground: #fbfbfb; /* oklch(0.985 0.002 247.839) */
  --destructive: #881337; /* oklch(0.577 0.245 27.325) */
  --destructive-foreground: #ffe2e2; /* oklch(0.577 0.245 27.325) */
  --success: #111f16; /* oklch(0.577 0.245 27.325) */
  --success-foreground: #3b622b; /* oklch(0.577 0.245 27.325) */
  --warning: #1f1f11; /* oklch(0.577 0.245 27.325) */
  --warning-foreground: #fafd22; /* oklch(0.577 0.245 27.325) */
  --border: #454545; /* oklch(0.278 0.033 256.848) */
  --input: #2b2b2b; /* oklch(0.278 0.033 256.848) */
  --ring: #6a6285; /* oklch(0.446 0.03 256.802) */
  --chart-1: #7c4dff; /* oklch(0.488 0.243 264.376) */
  --chart-2: #4dd0a5; /* oklch(0.696 0.17 162.48) */
  --chart-3: #ffb443; /* oklch(0.769 0.188 70.08) */
  --chart-4: #d24dff; /* oklch(0.627 0.265 303.9) */
  --chart-5: #ff5722; /* oklch(0.645 0.246 16.439) */
  --sidebar: #1c1c1c; /* oklch(0.21 0.034 264.665) */
  --sidebar-foreground: #fbfbfb; /* oklch(0.985 0.002 247.839) */
  --sidebar-primary: #7c4dff; /* oklch(0.488 0.243 264.376) */
  --sidebar-primary-foreground: #fbfbfb; /* oklch(0.985 0.002 247.839) */
  --sidebar-accent: #2b2b2b; /* oklch(0.278 0.033 256.848) */
  --sidebar-accent-foreground: #fbfbfb; /* oklch(0.985 0.002 247.839) */
  --sidebar-border: #2b2b2b; /* oklch(0.278 0.033 256.848) */
  --sidebar-ring: #6a6285; /* oklch(0.446 0.03 256.802) */
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Only apply scrollbar styles on devices with screens wider than 768px (typical desktop breakpoint) */
@media only screen and (min-width: 768px) {
  /* Style the scroll bar */
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-background);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
  }
}
